openapi: 3.0.3
info:
  title: MiniMax Platform API
  description: |-
    MiniMax Platform API for image generation, Hailuo video generation, music generation,
    text-to-speech, voice workflows, video templates, and file management.

    **Scope:** This SDK covers the currently documented non-chat REST endpoints for
    images, video, music, speech, voice management, and files. OpenAI-compatible
    `/v1/text/chatcompletion_v2`, Anthropic-compatible chat, embeddings, and WebSocket
    TTS are excluded from this SDK surface.

    **Authentication:** `Authorization: Bearer <API_KEY>` from the
    [MiniMax Platform](https://platform.minimaxi.com/user-center/basic-information/interface-key).

    **Base URL:** `https://api.minimaxi.com`.
  version: 1.0.0
  contact:
    name: MiniMax Platform
    url: https://platform.minimaxi.com
  license:
    name: Proprietary
    url: https://platform.minimaxi.com
servers:
  - url: https://api.minimaxi.com
    description: MiniMax Production API
security:
  - BearerAuth: []
tags:
  - name: Image
    description: Image generation from text prompts or reference images.
  - name: Video
    description: Hailuo video generation, task polling, and video template workflows.
  - name: Music
    description: Music generation, music-cover preprocessing, and lyrics generation.
  - name: Speech
    description: Text-to-speech, async TTS, voice cloning, voice design, and voice management.
  - name: Files
    description: Upload, retrieve, download, list, and delete files used by MiniMax workflows.
paths:
  /v1/image_generation:
    post:
      tags:
        - Image
      operationId: createImageGeneration
      summary: Generate images.
      description: Creates images from text prompts and optionally from reference images using the same endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        "200":
          description: Image generation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationResponse'
  /v1/video_generation:
    post:
      tags:
        - Video
      operationId: createVideoGenerationTask
      summary: Create a video generation task.
      description: Creates an asynchronous Hailuo video generation task for text-to-video, image-to-video, start-end, or subject-reference modes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoGenerationRequest'
      responses:
        "200":
          description: Task created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoGenerationResponse'
  /v1/query/video_generation:
    get:
      tags:
        - Video
      operationId: getVideoGenerationTask
      summary: Query a video generation task.
      parameters:
        - in: query
          name: task_id
          required: true
          schema:
            type: string
          description: Task ID returned from `POST /v1/video_generation`.
      responses:
        "200":
          description: Task status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTaskStatusResponse'
  /v1/video_template_generation:
    post:
      tags:
        - Video
      operationId: createVideoTemplateGenerationTask
      summary: Create a video template task.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoTemplateGenerationRequest'
      responses:
        "200":
          description: Task created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTemplateGenerationResponse'
  /v1/query/video_template_generation:
    get:
      tags:
        - Video
      operationId: getVideoTemplateGenerationTask
      summary: Query a video template task.
      parameters:
        - in: query
          name: task_id
          required: true
          schema:
            type: string
          description: Task ID returned from `POST /v1/video_template_generation`.
      responses:
        "200":
          description: Task status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTemplateTaskStatusResponse'
  /v1/music_generation:
    post:
      tags:
        - Music
      operationId: createMusicGeneration
      summary: Generate music.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicGenerationRequest'
      responses:
        "200":
          description: Music generation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicGenerationResponse'
  /v1/music_cover_preprocess:
    post:
      tags:
        - Music
      operationId: createMusicCoverPreprocess
      summary: Preprocess music-cover input audio.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MusicCoverPreprocessRequest'
      responses:
        "200":
          description: Preprocess result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MusicCoverPreprocessResponse'
  /v1/lyrics_generation:
    post:
      tags:
        - Music
      operationId: createLyricsGeneration
      summary: Generate or continue lyrics.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LyricsGenerationRequest'
      responses:
        "200":
          description: Lyrics generation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LyricsGenerationResponse'
  /v1/t2a_v2:
    post:
      tags:
        - Speech
      operationId: createTextToSpeech
      summary: Synthesize speech.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        "200":
          description: Speech synthesis result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextToSpeechResponse'
  /v1/t2a_async_v2:
    post:
      tags:
        - Speech
      operationId: createTextToSpeechTask
      summary: Create an async speech synthesis task.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncTextToSpeechRequest'
      responses:
        "200":
          description: Task created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncTextToSpeechTaskResponse'
  /v1/query/t2a_async_query_v2:
    get:
      tags:
        - Speech
      operationId: getTextToSpeechTask
      summary: Query an async speech synthesis task.
      parameters:
        - in: query
          name: task_id
          required: true
          schema:
            type: integer
            format: int64
          description: Task ID returned from `POST /v1/t2a_async_v2`.
      responses:
        "200":
          description: Task status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncTextToSpeechTaskStatusResponse'
  /v1/voice_clone:
    post:
      tags:
        - Speech
      operationId: createVoiceClone
      summary: Create a voice clone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceCloneRequest'
      responses:
        "200":
          description: Voice clone result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceCloneResponse'
  /v1/voice_design:
    post:
      tags:
        - Speech
      operationId: createVoiceDesign
      summary: Generate a new voice from text instructions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceDesignRequest'
      responses:
        "200":
          description: Voice design result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceDesignResponse'
  /v1/get_voice:
    post:
      tags:
        - Speech
      operationId: getVoices
      summary: List available voices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVoicesRequest'
      responses:
        "200":
          description: Voice inventory.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponse'
  /v1/delete_voice:
    post:
      tags:
        - Speech
      operationId: deleteVoice
      summary: Delete a custom voice.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVoiceRequest'
      responses:
        "200":
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVoiceResponse'
  /v1/files/upload:
    post:
      tags:
        - Files
      operationId: uploadFile
      summary: Upload a file.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        "200":
          description: Upload result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
  /v1/files/retrieve:
    get:
      tags:
        - Files
      operationId: retrieveFile
      summary: Retrieve file metadata.
      parameters:
        - in: query
          name: file_id
          required: true
          schema:
            type: integer
            format: int64
          description: File ID returned from uploads or generation tasks.
      responses:
        "200":
          description: File metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRetrieveResponse'
  /v1/files/list:
    get:
      tags:
        - Files
      operationId: listFiles
      summary: List files.
      parameters:
        - in: query
          name: purpose
          required: false
          schema:
            type: string
          description: Optional purpose filter.
      responses:
        "200":
          description: List of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileListResponse'
  /v1/files/retrieve_content:
    get:
      tags:
        - Files
      operationId: retrieveFileContent
      summary: Download file content.
      parameters:
        - in: query
          name: file_id
          required: true
          schema:
            type: integer
            format: int64
          description: File ID to download.
      responses:
        "200":
          description: Raw file content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v1/files/delete:
    post:
      tags:
        - Files
      operationId: deleteFile
      summary: Delete a file.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileDeleteRequest'
      responses:
        "200":
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileDeleteResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key authentication using a Bearer token.
  schemas:
    BaseResponse:
      type: object
      description: Common status envelope returned by MiniMax API calls.
      properties:
        status_code:
          type: integer
          format: int64
          description: 0 for success. Non-zero indicates an error.
        status_msg:
          type: string
          description: Human-readable status message.
    ImageStyle:
      type: object
      description: Optional style configuration for `image-01-live`.
      properties:
        style_type:
          type: string
          description: Style type from the current upstream catalog.
        style_weight:
          type: number
          format: float
          description: Style weight between 0 and 1.
    ImageSubjectReference:
      type: object
      required:
        - type
        - image_file
      properties:
        type:
          type: string
          description: Reference subject type.
          enum:
            - character
        image_file:
          type: string
          description: Reference image URL or data URL.
    ImageGenerationData:
      type: object
      properties:
        image_urls:
          type: array
          items:
            type: string
          description: Returned when `response_format=url`.
        image_base64:
          type: array
          items:
            type: string
          description: Returned when `response_format=base64`.
    ImageGenerationMetadata:
      type: object
      properties:
        success_count:
          type: integer
        failed_count:
          type: integer
    ImageGenerationRequest:
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
          description: Image generation model.
        prompt:
          type: string
          description: Image prompt, up to 1500 characters.
        subject_reference:
          type: array
          description: Optional subject references for image-to-image generation.
          items:
            $ref: '#/components/schemas/ImageSubjectReference'
        style:
          $ref: '#/components/schemas/ImageStyle'
        aspect_ratio:
          type: string
          enum:
            - 1:1
            - 16:9
            - 4:3
            - 3:2
            - 2:3
            - 3:4
            - 9:16
            - 21:9
          description: Requested aspect ratio.
        width:
          type: integer
          description: Output width in pixels for `image-01`.
        height:
          type: integer
          description: Output height in pixels for `image-01`.
        response_format:
          type: string
          enum:
            - url
            - base64
          default: url
          description: How images are returned.
        seed:
          type: integer
          format: int64
        n:
          type: integer
          minimum: 1
          maximum: 9
          default: 1
          description: Number of images to generate.
        prompt_optimizer:
          type: boolean
          default: false
        aigc_watermark:
          type: boolean
    ImageGenerationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ImageGenerationData'
        metadata:
          $ref: '#/components/schemas/ImageGenerationMetadata'
        id:
          type: string
          description: Generation request ID.
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    VideoSubjectReference:
      type: object
      required:
        - type
        - image
      properties:
        type:
          type: string
          enum:
            - character
          description: Reference subject type.
        image:
          type: array
          items:
            type: string
          description: Reference image URLs or data URLs.
    VideoGenerationRequest:
      type: object
      required:
        - model
      properties:
        model:
          type: string
          description: Video generation model.
        prompt:
          type: string
          description: Text prompt for text-to-video or guided image/video generation.
        prompt_optimizer:
          type: boolean
          default: true
        fast_pretreatment:
          type: boolean
          default: false
          description: Faster prompt preprocessing for supported models.
        first_frame_image:
          type: string
          description: First frame image URL or data URL.
        last_frame_image:
          type: string
          description: Last frame image URL or data URL.
        subject_reference:
          type: array
          items:
            $ref: '#/components/schemas/VideoSubjectReference'
          description: Subject references for `S2V-01`.
        duration:
          type: integer
          description: Video duration in seconds.
        resolution:
          type: string
          enum:
            - 720P
            - 768P
            - 1080P
          description: Requested output resolution.
        callback_url:
          type: string
          description: Webhook URL for async task updates.
        aigc_watermark:
          type: boolean
    VideoGenerationResponse:
      type: object
      properties:
        task_id:
          type: string
          description: Task ID to poll.
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    VideoTaskStatus:
      type: string
      enum:
        - Preparing
        - Queueing
        - Processing
        - Success
        - Fail
      description: Video generation task state.
    VideoTaskStatusResponse:
      type: object
      properties:
        task_id:
          type: string
        status:
          $ref: '#/components/schemas/VideoTaskStatus'
        file_id:
          type: string
          description: Generated file ID when successful.
        video_width:
          type: integer
        video_height:
          type: integer
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    VideoTemplateTextInput:
      type: object
      required:
        - value
      properties:
        value:
          type: string
          description: Template text input.
    VideoTemplateMediaInput:
      type: object
      required:
        - value
      properties:
        value:
          type: string
          description: Template media URL or data URL.
    VideoTemplateGenerationRequest:
      type: object
      required:
        - template_id
      properties:
        template_id:
          type: string
          description: Video template ID.
        text_inputs:
          type: array
          items:
            $ref: '#/components/schemas/VideoTemplateTextInput'
        media_inputs:
          type: array
          items:
            $ref: '#/components/schemas/VideoTemplateMediaInput'
        callback_url:
          type: string
          description: Webhook URL for task updates.
    VideoTemplateGenerationResponse:
      type: object
      properties:
        task_id:
          type: string
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    VideoTemplateTaskStatus:
      type: string
      enum:
        - Preparing
        - Processing
        - Success
        - Fail
      description: Video template task state.
    VideoTemplateTaskStatusResponse:
      type: object
      properties:
        task_id:
          type: string
        status:
          $ref: '#/components/schemas/VideoTemplateTaskStatus'
        video_url:
          type: string
          description: Download URL when the task succeeds.
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    MusicAudioSetting:
      type: object
      properties:
        sample_rate:
          type: integer
          description: Audio sample rate in Hz.
        bitrate:
          type: integer
          description: Audio bitrate in bits per second.
        format:
          type: string
          enum:
            - mp3
            - wav
            - pcm
          description: Audio format.
    MusicGenerationRequest:
      type: object
      required:
        - model
      properties:
        model:
          type: string
          description: Music generation model.
        prompt:
          type: string
          maxLength: 2000
          description: Music prompt.
        lyrics:
          type: string
          maxLength: 3500
          description: Lyrics with optional section markers.
        stream:
          type: boolean
          default: false
        output_format:
          type: string
          enum:
            - url
            - hex
          default: hex
        audio_setting:
          $ref: '#/components/schemas/MusicAudioSetting'
        aigc_watermark:
          type: boolean
        lyrics_optimizer:
          type: boolean
          default: false
        is_instrumental:
          type: boolean
          default: false
        audio_url:
          type: string
          description: Reference audio URL for cover generation.
        audio_base64:
          type: string
          description: Reference audio as base64 for cover generation.
        cover_feature_id:
          type: string
          description: Preprocessed cover feature ID for two-step cover generation.
    MusicGenerationData:
      type: object
      properties:
        status:
          type: integer
          description: 1 while generating, 2 when complete.
        audio:
          type: string
          description: Hex audio payload or downloadable URL depending on `output_format`.
    MusicGenerationExtraInfo:
      type: object
      properties:
        music_duration:
          type: integer
        music_sample_rate:
          type: integer
        music_channel:
          type: integer
        bitrate:
          type: integer
        music_size:
          type: integer
    MusicGenerationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/MusicGenerationData'
        extra_info:
          $ref: '#/components/schemas/MusicGenerationExtraInfo'
        trace_id:
          type: string
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    MusicCoverPreprocessRequest:
      type: object
      required:
        - model
      properties:
        model:
          type: string
          description: Currently required to be `music-cover`.
        audio_url:
          type: string
        audio_base64:
          type: string
    MusicCoverPreprocessResponse:
      type: object
      properties:
        cover_feature_id:
          type: string
        formatted_lyrics:
          type: string
        structure_result:
          type: string
        audio_duration:
          type: number
          format: double
        trace_id:
          type: string
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    LyricsGenerationRequest:
      type: object
      required:
        - mode
      properties:
        mode:
          type: string
          enum:
            - write_full_song
            - edit
          description: Lyrics generation mode.
        prompt:
          type: string
          description: Prompt describing the song or rewrite request.
        lyrics:
          type: string
          description: Existing lyrics for continuation or rewrite.
        title:
          type: string
          description: Optional title hint.
    LyricsGenerationResponse:
      type: object
      properties:
        song_title:
          type: string
        style_tags:
          type: string
        lyrics:
          type: string
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    TtsVoiceSetting:
      type: object
      required:
        - voice_id
      properties:
        voice_id:
          type: string
          description: Voice identifier.
        speed:
          type: number
          format: float
          minimum: 0.5
          maximum: 2
          default: 1
        vol:
          type: number
          format: float
          minimum: 0
          maximum: 10
          default: 1
        pitch:
          type: integer
          minimum: -12
          maximum: 12
          default: 0
        emotion:
          type: string
          enum:
            - happy
            - sad
            - angry
            - fearful
            - disgusted
            - surprised
            - calm
            - fluent
            - whisper
          description: Optional speaking emotion.
        text_normalization:
          type: boolean
          default: false
        latex_read:
          type: boolean
          default: false
    TtsAudioSetting:
      type: object
      properties:
        sample_rate:
          type: integer
          default: 32000
        bitrate:
          type: integer
          default: 128000
        format:
          type: string
          enum:
            - mp3
            - pcm
            - flac
            - wav
            - pcmu_raw
            - pcmu_wav
            - opus
          default: mp3
        channel:
          type: integer
          default: 1
        force_cbr:
          type: boolean
          default: false
    TtsPronunciationDict:
      type: object
      properties:
        tone:
          type: array
          items:
            type: string
          description: Pronunciation replacement rules.
    TtsVoiceModify:
      type: object
      properties:
        pitch:
          type: integer
          minimum: -100
          maximum: 100
        intensity:
          type: integer
          minimum: -100
          maximum: 100
        timbre:
          type: integer
          minimum: -100
          maximum: 100
        sound_effects:
          type: string
          enum:
            - spacious_echo
            - auditorium_echo
            - lofi_telephone
            - robotic
    TtsStreamOptions:
      type: object
      properties:
        exclude_aggregated_audio:
          type: boolean
          description: Whether the last stream chunk omits the aggregated audio payload.
    TimberWeight:
      type: object
      required:
        - voice_id
        - weight
      properties:
        voice_id:
          type: string
        weight:
          type: integer
          minimum: 1
          maximum: 100
    TextToSpeechRequest:
      type: object
      required:
        - model
        - text
        - voice_setting
      properties:
        model:
          type: string
          description: Speech model.
        text:
          type: string
          description: Input text.
        stream:
          type: boolean
          default: false
        stream_options:
          $ref: '#/components/schemas/TtsStreamOptions'
        voice_setting:
          $ref: '#/components/schemas/TtsVoiceSetting'
        audio_setting:
          $ref: '#/components/schemas/TtsAudioSetting'
        pronunciation_dict:
          $ref: '#/components/schemas/TtsPronunciationDict'
        timbre_weights:
          type: array
          items:
            $ref: '#/components/schemas/TimberWeight'
        language_boost:
          type: string
          enum:
            - Chinese
            - Chinese,Yue
            - English
            - Arabic
            - Russian
            - Spanish
            - French
            - Portuguese
            - German
            - Turkish
            - Dutch
            - Ukrainian
            - Vietnamese
            - Indonesian
            - Japanese
            - Italian
            - Korean
            - Thai
            - Polish
            - Romanian
            - Greek
            - Czech
            - Finnish
            - Hindi
            - Bulgarian
            - Danish
            - Hebrew
            - Malay
            - Persian
            - Slovak
            - Swedish
            - Croatian
            - Filipino
            - Hungarian
            - Norwegian
            - Slovenian
            - Catalan
            - Nynorsk
            - Tamil
            - Afrikaans
            - auto
        voice_modify:
          $ref: '#/components/schemas/TtsVoiceModify'
        subtitle_enable:
          type: boolean
          default: false
        subtitle_type:
          type: string
          enum:
            - sentence
            - word
            - word_streaming
          default: sentence
        output_format:
          type: string
          enum:
            - url
            - hex
          default: hex
        aigc_watermark:
          type: boolean
          default: false
    TtsData:
      type: object
      properties:
        audio:
          type: string
          description: Hex-encoded audio or downloadable URL.
        subtitle_file:
          type: string
          description: Subtitle download URL when subtitles are enabled.
        status:
          type: integer
          description: 1 while streaming, 2 when complete.
    TtsExtraInfo:
      type: object
      properties:
        audio_length:
          type: integer
          format: int64
        audio_sample_rate:
          type: integer
          format: int64
        audio_size:
          type: integer
          format: int64
        bitrate:
          type: integer
          format: int64
        audio_format:
          type: string
          enum:
            - mp3
            - pcm
            - flac
            - wav
            - pcmu_raw
            - pcmu_wav
            - opus
        audio_channel:
          type: integer
          format: int64
        invisible_character_ratio:
          type: number
          format: float
        usage_characters:
          type: integer
          format: int64
        word_count:
          type: integer
          format: int64
    TextToSpeechResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TtsData'
        trace_id:
          type: string
        extra_info:
          $ref: '#/components/schemas/TtsExtraInfo'
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    AsyncTextToSpeechVoiceSetting:
      type: object
      required:
        - voice_id
      properties:
        voice_id:
          type: string
        speed:
          type: number
          format: float
          minimum: 0.5
          maximum: 2
          default: 1
        vol:
          type: number
          format: float
          minimum: 0
          maximum: 10
          default: 1
        pitch:
          type: integer
          minimum: -12
          maximum: 12
          default: 0
        emotion:
          type: string
          enum:
            - happy
            - sad
            - angry
            - fearful
            - disgusted
            - surprised
            - calm
            - fluent
            - whisper
        english_normalization:
          type: boolean
          default: false
    AsyncTextToSpeechAudioSetting:
      type: object
      properties:
        audio_sample_rate:
          type: integer
          format: int64
          default: 32000
        bitrate:
          type: integer
          format: int64
          default: 128000
        format:
          type: string
          enum:
            - mp3
            - pcm
            - flac
            - wav
            - pcmu_raw
            - pcmu_wav
            - opus
          default: mp3
        channel:
          type: integer
          format: int64
          default: 2
    AsyncTextToSpeechPronunciationDict:
      type: object
      properties:
        tone:
          type: array
          items:
            type: string
    AsyncTextToSpeechRequest:
      type: object
      required:
        - model
        - voice_setting
      description: Provide either `text` or `text_file_id`.
      properties:
        model:
          type: string
        text:
          type: string
          description: Inline text input.
        text_file_id:
          type: integer
          format: int64
          description: Uploaded text or zip file ID.
        voice_setting:
          $ref: '#/components/schemas/AsyncTextToSpeechVoiceSetting'
        audio_setting:
          $ref: '#/components/schemas/AsyncTextToSpeechAudioSetting'
        pronunciation_dict:
          $ref: '#/components/schemas/AsyncTextToSpeechPronunciationDict'
        language_boost:
          type: string
          enum:
            - Chinese
            - Chinese,Yue
            - English
            - Arabic
            - Russian
            - Spanish
            - French
            - Portuguese
            - German
            - Turkish
            - Dutch
            - Ukrainian
            - Vietnamese
            - Indonesian
            - Japanese
            - Italian
            - Korean
            - Thai
            - Polish
            - Romanian
            - Greek
            - Czech
            - Finnish
            - Hindi
            - Bulgarian
            - Danish
            - Hebrew
            - Malay
            - Persian
            - Slovak
            - Swedish
            - Croatian
            - Filipino
            - Hungarian
            - Norwegian
            - Slovenian
            - Catalan
            - Nynorsk
            - Tamil
            - Afrikaans
            - auto
        voice_modify:
          $ref: '#/components/schemas/TtsVoiceModify'
        aigc_watermark:
          type: boolean
          default: false
    AsyncTextToSpeechTaskResponse:
      type: object
      properties:
        task_id:
          type: integer
          format: int64
        file_id:
          type: integer
          format: int64
        task_token:
          type: string
        usage_characters:
          type: integer
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    AsyncTextToSpeechTaskStatus:
      type: string
      enum:
        - success
        - failed
        - expired
        - processing
    AsyncTextToSpeechTaskStatusResponse:
      type: object
      properties:
        task_id:
          type: integer
          format: int64
        status:
          $ref: '#/components/schemas/AsyncTextToSpeechTaskStatus'
        file_id:
          type: integer
          format: int64
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    VoiceClonePrompt:
      type: object
      properties:
        prompt_audio:
          type: integer
          format: int64
          description: Uploaded prompt-audio file ID.
        prompt_text:
          type: string
          description: Transcript for the prompt audio.
    VoiceCloneExtraInfo:
      type: object
      properties:
        audio_length:
          type: integer
          format: int64
        audio_sample_rate:
          type: integer
          format: int64
        audio_size:
          type: integer
          format: int64
        bitrate:
          type: integer
          format: int64
        word_count:
          type: integer
          format: int64
        usage_characters:
          type: integer
          format: int64
    VoiceCloneRequest:
      type: object
      required:
        - file_id
        - voice_id
      properties:
        file_id:
          type: integer
          format: int64
          description: Reference audio file ID from file upload.
        voice_id:
          type: string
          description: Target custom voice ID.
        clone_prompt:
          $ref: '#/components/schemas/VoiceClonePrompt'
        text:
          type: string
          description: Optional sample text for verification synthesis.
        model:
          type: string
          description: Speech model for the optional verification sample.
        language_boost:
          type: string
          enum:
            - Chinese
            - Chinese,Yue
            - English
            - Arabic
            - Russian
            - Spanish
            - French
            - Portuguese
            - German
            - Turkish
            - Dutch
            - Ukrainian
            - Vietnamese
            - Indonesian
            - Japanese
            - Italian
            - Korean
            - Thai
            - Polish
            - Romanian
            - Greek
            - Czech
            - Finnish
            - Hindi
            - Bulgarian
            - Danish
            - Hebrew
            - Malay
            - Persian
            - Slovak
            - Swedish
            - Croatian
            - Filipino
            - Hungarian
            - Norwegian
            - Slovenian
            - Catalan
            - Nynorsk
            - Tamil
            - Afrikaans
            - auto
        need_noise_reduction:
          type: boolean
          default: false
        need_volume_normalization:
          type: boolean
          default: false
        aigc_watermark:
          type: boolean
          default: false
    VoiceCloneResponse:
      type: object
      properties:
        input_sensitive:
          type: boolean
          description: Whether the input audio was flagged by content checks.
        input_sensitive_type:
          type: integer
          description: Flag category when the input audio is sensitive.
        demo_audio:
          type: string
          description: Verification audio URL when sample text was supplied.
        extra_info:
          $ref: '#/components/schemas/VoiceCloneExtraInfo'
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    VoiceDesignRequest:
      type: object
      required:
        - prompt
        - preview_text
      properties:
        prompt:
          type: string
          description: Voice design instructions.
        preview_text:
          type: string
          maxLength: 500
          description: Text synthesized for the preview sample.
        voice_id:
          type: string
          description: Optional custom voice ID.
        aigc_watermark:
          type: boolean
    VoiceDesignResponse:
      type: object
      properties:
        voice_id:
          type: string
        trial_audio:
          type: string
          description: Hex-encoded preview audio.
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    GetVoicesRequest:
      type: object
      required:
        - voice_type
      properties:
        voice_type:
          type: string
          enum:
            - system
            - voice_cloning
            - voice_generation
            - all
    SystemVoiceInfo:
      type: object
      properties:
        voice_id:
          type: string
        voice_name:
          type: string
        description:
          type: array
          items:
            type: string
    VoiceCloningInfo:
      type: object
      properties:
        voice_id:
          type: string
        description:
          type: array
          items:
            type: string
        created_time:
          type: string
    VoiceGenerationInfo:
      type: object
      properties:
        voice_id:
          type: string
        description:
          type: array
          items:
            type: string
        created_time:
          type: string
    GetVoicesResponse:
      type: object
      properties:
        system_voice:
          type: array
          items:
            $ref: '#/components/schemas/SystemVoiceInfo'
        voice_cloning:
          type: array
          items:
            $ref: '#/components/schemas/VoiceCloningInfo'
        voice_generation:
          type: array
          items:
            $ref: '#/components/schemas/VoiceGenerationInfo'
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    DeleteVoiceRequest:
      type: object
      required:
        - voice_type
        - voice_id
      properties:
        voice_type:
          type: string
          enum:
            - voice_cloning
            - voice_generation
        voice_id:
          type: string
    DeleteVoiceResponse:
      type: object
      properties:
        voice_id:
          type: string
        created_time:
          type: string
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    FileUploadRequest:
      type: object
      required:
        - purpose
        - file
      properties:
        purpose:
          type: string
          enum:
            - voice_clone
            - prompt_audio
            - t2a_async_input
          description: Upload purpose.
        file:
          type: string
          format: binary
          description: File to upload.
    FileInfo:
      type: object
      properties:
        file_id:
          type: integer
          format: int64
        bytes:
          type: integer
          format: int64
        created_at:
          type: integer
          format: int64
        filename:
          type: string
        purpose:
          type: string
        download_url:
          type: string
          description: Temporary download URL when present.
    FileUploadResponse:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileInfo'
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    FileRetrieveResponse:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileInfo'
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    FileListResponse:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileInfo'
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
    FileDeleteRequest:
      type: object
      required:
        - file_id
        - purpose
      properties:
        file_id:
          type: integer
          format: int64
        purpose:
          type: string
          enum:
            - voice_clone
            - prompt_audio
            - t2a_async
            - t2a_async_input
            - video_generation
    FileDeleteResponse:
      type: object
      properties:
        file_id:
          type: integer
          format: int64
        base_resp:
          $ref: '#/components/schemas/BaseResponse'
